interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.facebook.com/v21.0/debug_token?access_token=DUMMY&input_token=DUMMY
  response:
    body:
      string: '{"data":{"app_id":"1961373921176595","type":"USER","application":"FanOps
        Publisher","data_access_expires_at":1789811236,"expires_at":1787219236,"is_valid":true,"issued_at":1781856610,"scopes":["instagram_basic","instagram_manage_comments","instagram_manage_insights","instagram_content_publish","instagram_manage_messages","instagram_manage_contents","instagram_manage_engagement","public_profile"],"granular_scopes":[{"scope":"instagram_basic"},[...]
{"scope":"instagram_manage_engagement"}],"user_id":"122105323563359438"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - '"0d289e52100fa24fdba30ddfa04cf03ccf70b461"'
      facebook-api-version:
      - v25.0
      x-ad-api-version-warning:
      - The call has been auto-upgraded to v25.0 as v21.0 has been deprecated.
      x-app-usage:
      - '{"call_count":2,"total_cputime":0,"total_time":0}'
    status:
      code: 200
      message: OK
version: 1
